.first__section {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #first__section-img {
        width: 40%;
        border-radius: 50%;
    }

    &-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 2rem;
            color: $cor-preto;
            font-weight: 800;
        }

        p {
            @include p-default;
            color: $cor-cinza;
        }
    }
}

.second__section {
    display: flex;
    margin: 100px auto;

    .second-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
            color: $cor-preto;
            font-weight: 600;
        }

        p {
            @include p-default;
            color: $cor-cinza;
        }
    }
}



@media (max-width: 768px) {
    .first__section {
        max-width: 1200px;
        margin: 50px auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;

        #first__section-img {
            width: 70%;
            border-radius: 50%;
        }

        &-content {
            margin: 0 auto;
            padding: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            h1 {
                font-size: 2rem;
                color: $cor-secundaria;
                font-weight: 800;
            }

            p {
                @include p-default;
                color: $cor-secundaria;
            }
        }
    }
}